@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background: #FFFFFF;
    font-family: "Stack Sans Notch", Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1280px;
    padding: 0px 6.5%;
    margin: 0px auto;
}